.footer-section{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10rem;
    background-color: #40B3AC;
    overflow: hidden;
}
.footer-left-part span {
    display: inline;
    float: left;
   padding: 1rem;
}
.footer-right-part span {
    display: inline;
    float: right;
   padding: 1rem;
}