.footer-section{
    display: flex;
    /* justify-content:space-between; */
    align-items: center;
    height: 7rem;
    background-color: #40B3AC;
    overflow: hidden;
}
/* .footer-left-part{
      margin-left: 20rem;
} */
.footer-left-part span {

   padding: 1rem;
}
/* .footer-right-part{
    margin-right: 20rem;
} */
.footer-right-part  {
 
   padding: 1rem;
}