.nav-bg{
background-image: url("../../Assets/imgs/nav-bg.png");
height: 100vh;
}
.navbar{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 2rem;
}
.verif-logo{
    width: 7rem;
}