.nav-bg{
    background-image: url("../../Assets/imgs/nav-bg.png");
    height: 100vh;
}
.navbar{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 20vh;
   
}
.verif-logo{
    width: 7rem;
    margin-top: 2rem;
}
.navLink{
    list-style-type: disc;
    display: flex;
    color: azure;
    gap: 1rem;

}