..features-title-section{
    height: 8rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
.features-title-section img{
  width: 5rem;
  margin-right: 0.5rem;
}

.features-title{
  
}-title-section{
    height: 8rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
.features-title-section img{
  width: 5rem;
  margin-right: 0.5rem;
}

.features-title{
  
}