.features-title-section{
    height: 8rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
.features-title{
  
}
.features-section{
    height: 40rem;
    background-color: #f7f7f7;
}