.feature-title-section{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 2rem;
  
}
.feature-title-section img{
  width: 5rem;
  margin-right: 0.5rem;
}

.feature-section{
    height: 30rem;
    background-color: #f7f7f7;
    display: flex;
    justify-content: center;
    align-items: center;

}
.feature-section img{
    width: 30rem;
  margin: 2rem;
    padding: 3rem;
 }
 .feature ul li{
   list-style-type: circle;
   font-size: 2rem;
   padding: 0.5rem;
 }
 .leftPart {
     display: flex;
     flex-direction: column;
     justify-content:start;
  
 }




/* @media only screen and (min-width: 768px){
    
} */