.features-title-section{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 2rem;
  
}
.features-title-section img{
  width: 5rem;
  margin-right: 0.5rem;
}

.features-section{
    height: 30rem;
    background-color: #f7f7f7;
    display: flex;
    justify-content: center;
    align-items: center;

}
.feature img{
    width: 30rem;
    padding-bottom: 3rem;
    padding-left: 2rem;
 }
 .features ul li{
   list-style-type: circle;
   font-size: 2.4rem;
   padding: 0.5rem;
 }
 .leftPart {
     display: flex;
     flex-direction: column;
     justify-content:start;
  
 }




/* @media only screen and (min-width: 768px){
    
} */