.features-title-section{
    height: 8rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
.features-title{
  
}
.features-section{
    height: 40rem;
    background-color: #f7f7f7;
    display: flex;
    justify-content: center;
    align-items: center;
}
.feature-table{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    align-content: center;
    width: 65%;
    /* height: 80vh; */
    overflow: auto;
    flex-direction: row;

}
.feature-table div{
    width: 15rem;
    height: 13rem;
}
.feature-table div:nth-child(1),
.feature-table div:nth-child(2),
.feature-table div:nth-child(3){
    border-right: 1px solid rgba(173, 172, 172, 0.722);
    border-bottom: 1px solid red;
}
.feature-table div:nth-child(5),
.feature-table div:nth-child(6),
.feature-table div:nth-child(7){
    border-right: 1px solid red;
    border-top: 1px solid red;
}
.feature-table div:nth-child(4){
    border-bottom: 1px solid red;
}
.feature-table div:nth-child(8){
    border-top: 1px solid red;
}