.feature-title-section{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 2rem;
  
}
.feature-title-section img{
  width: 5rem;
  margin-right: 0.5rem;
}

.feature-section{
    height: 35rem;
    background-color: #f7f7f7;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2rem;

}
.feature-section img{
    width: 30rem;
    padding: 2rem;
    margin-left: 12rem;
 }
 .feature-section ul {
    list-style-image: url('../../Assets/imgs/checkedLi.png');
    list-style-position:outside;
 }
 .feature-section ul li{
   list-style-type: circle;
   font-size: 2rem;
   /* padding: 0.2rem; */
   /* position: relative;
   bottom: 1rem; */
 }
 .leftPart {
     display: flex;
     flex-direction: column;
     justify-content:start;
  
 }




/* @media only screen and (min-width: 768px){
    
} */