.contact-section{
    padding-top: 8rem;
}
.contact-section-left{
 
}
.contact-section-text{
    color: white ;
    font-size: 5rem;
    margin-top: ;
}
.contact-section-left div:nth-child(1){
    color: white ;
    font-size: 4rem;
}
.contact-section-left div:nth-child(2){
    color: white ;
    font-size: 5rem;
    font-weight: 600;
}
