.contact-section{
    padding-top: 8rem;
}
.contact-section-left{
    display: flex;
    justify-content: center;
    align-items: center;
}
.contact-section-text{
    color: white ;
    font-size: 5rem;
}
.contact-section-text span:nth-child(5){
    color: white ;
    font-size: 5rem;
}
