.header-animated{
    width: 50rem; 
    text-align: center;
    overflow-wrap:break-word;
    margin:0 auto;
    padding: 5rem 5rem; 
}
.header-first-text{
    padding: 5rem 5rem; 
    color: crimson;
  


}