.header-animated{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    margin: 7rem 0;
    padding: 0 5rem; 
}
.header-first-text{
    display: inline-block;
    color: crimson;
    overflow-wrap:normal;
  

}