.header-animated{
    width: 55rem; 
    text-align: center;
    overflow-wrap:break-word;
    margin:0 auto;
    padding: 5rem 5rem; 
}
.header-first-text{
    padding: 3rem 3rem; 
    color: #40B3AC;

}
.header-second-text{
    padding: 3rem 3rem; 
    color: #FAD700;

}
.h1 {
    color: green;
    font-size:60px;
    max-width: 30ch;
    text-align: center;
    transform: scale(0.94);
    animation: scale 2s forwards cubic-bezier(0.5, 1, 0.89, 1);
   
  }
.h3 {
    font-size:60px;
    color: red;
    max-width: 30ch;
    text-align: center;
    transform: scale(0.94);
    animation: scale 3s forwards cubic-bezier(0.5, 1, 0.89, 1);
  }
  @keyframes scale {
    100% {
      transform: scale(1);
    }
  }
  
  .span {
    display: inline-block;
    opacity: 0;
    filter: blur(4px);
  }
  
  .span:nth-child(1) {
    animation: fade-in 0.8s 0.1s forwards cubic-bezier(0.11, 0, 0.5, 0);
  }
  
  .span:nth-child(2) {
    animation: fade-in 0.8s 0.3s forwards cubic-bezier(0.11, 0, 0.5, 0);
  }
  
  span:nth-child(3) {
    animation: fade-in 0.8s 0.5s forwards cubic-bezier(0.11, 0, 0.5, 0);
  }
  
  span:nth-child(4) {
    animation: fade-in 0.8s 0.7s forwards cubic-bezier(0.11, 0, 0.5, 0);
  }
  
  span:nth-child(5) {
    animation: fade-in 0.8s 0.9s forwards cubic-bezier(0.11, 0, 0.5, 0);
  }
  
  div {
    display: inline-block;
    opacity: 0;
    filter: blur(4px);
  }
  
  div:nth-child(1) {
    animation: fade-in 0.8s 2s forwards cubic-bezier(0.11, 0, 0.5, 0);
  }
  
  div:nth-child(2) {
    animation: fade-in 0.8s 2.1s forwards cubic-bezier(0.11, 0, 0.5, 0);
  }
  
  div:nth-child(3) {
    animation: fade-in 0.8s 2.3s forwards cubic-bezier(0.11, 0, 0.5, 0);
  }
  
  div:nth-child(4) {
    animation: fade-in 0.8s 2.5s forwards cubic-bezier(0.11, 0, 0.5, 0);
  }
  
  div:nth-child(5) {
    animation: fade-in 0.8s 12.7s forwards cubic-bezier(0.11, 0, 0.5, 0);
  }
  
  
  @keyframes fade-in {
    100% {
      opacity: 1;
      filter: blur(0);
    }
  }
  