.supporter-section{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 15rem;
    background-color: bisque;
}
.supporter-section img{
    width: 20rem;
}
.supporter-section ul{
    display: flex;
    justify-content: center;
    align-items: center;
    list-style-type: none;
}
.supporter-section ul li{
   
    
    margin:0 1rem;
}
