.BuySection{
    height: 35rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
.BuySection img{
   width: 40rem;
}
.BuySection ul li{
  list-style-type: circle;
  font-size: 2rem;
}
.leftPart {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
   
}
.leftPart button{
 
    margin: 0 auto;
    color: red;
}