.BuySection{
    height: 40rem;
    background-color: #f7f7f7;
    display: flex;
    justify-content: center;
    align-items: center;
}
.BuySection img{
   width: 40rem;
}
.BuySection ul{
  list-style-type: circle;
}